streamlit
langchain
langchain-community

openai
langchain-openai
langchain_chroma
requests

python-dotenv
beautifulsoup4

spacy>=3.0.0
https://github.com/explosion/spacy-models/releases/download/ko_core_news_sm-3.0.0/ko_core_news_sm-3.0.0.tar.gz
pysqlite3-binary
