streamlit
langchain
langchain-community

openai
langchain-openai
langchain-chroma
chromadb
requests

python-dotenv
beautifulsoup4

spacy>=3.0.0
thinc==8.1.7

pysqlite3-binary
pip>=24.3.1
setuptools>=65.5.0
wheel>=0.41.0
